In [1]:
import pandas as pd
import csv
employees = pd.read_csv('/Users/hdvoor/desktop/employees.csv')

In [2]:
employees

,employee_id,first_name,last_name,email,phone,position,hourly_wage
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,$15.00
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,$15.00
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,$18.50
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,$25.00
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,$20.00
...,...,...,...,...,...,...,...
245,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,$15.00
246,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,$15.00
247,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,$15.00
248,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,$15.00
249,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,$15.00

In [5]:
v1 = employees[['employee_id','first_name','last_name','email','phone','position']]
v1

,employee_id,first_name,last_name,email,phone,position
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP
...,...,...,...,...,...,...
245,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK
246,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK
247,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK
248,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK
249,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK

In [12]:
v2 = v1[['employee_id','first_name','last_name','email','phone','position']].drop_duplicates()
v2

,employee_id,first_name,last_name,email,phone,position
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP
5,203,Susan,Mavris,smavris@abcfoodmart.com,515-123-7777,HR_REP
6,204,Hermann,Baer,hbaer@abcfoodmart.com,515-123-8888,PR_REP
7,205,Shelley,Higgins,shiggins@abcfoodmart.com,515-123-8080,AC_MGR
8,206,William,Gietz,wgietz@abcfoodmart.com,515-123-8181,AC_ACCOUNT
9,100,Steven,King,sking@abcfoodmart.com,515-123-4567,AD_PRES
10,101,Neena,Kochhar,nkochhar@abcfoodmart.com,515-123-4568,AD_VP
11,102,Lex,De Haan,ldehaan@abcfoodmart.com,515-123-4569,AD_VP
12,103,Alexander,Hunold,ahunold@abcfoodmart.com,590-423-4567,IT_PROG
13,104,Bruce,Ernst,bernst@abcfoodmart.com,590-423-4568,IT_PROG
14,105,David,Austin,daustin@abcfoodmart.com,590-423-4569,IT_PROG
15,106,Valli,Pataballa,vpatabal@abcfoodmart.com,590-423-4560,IT_PROG
16,107,Diana,Lorentz,dlorentz@abcfoodmart.com,590-423-5567,IT_PROG
17,108,Nancy,Greenberg,ngreenbe@abcfoodmart.com,515-124-4569,FI_MGR
18,109,Daniel,Faviet,dfaviet@abcfoodmart.com,515-124-4169,FI_ACCOUNT
19,110,John,Chen,jchen@abcfoodmart.com,515-124-4269,FI_ACCOUNT
20,111,Ismael,Sciarra,isciarra@abcfoodmart.com,515-124-4369,FI_ACCOUNT
21,112,Jose Manuel,Urman,jmurman@abcfoodmart.com,515-124-4469,FI_ACCOUNT
22,113,Luis,Popp,lpopp@abcfoodmart.com,515-124-4567,FI_ACCOUNT
23,114,Den,Raphaely,drapheal@abcfoodmart.com,515-127-4561,PU_MAN
24,115,Alexander,Khoo,akhoo@abcfoodmart.com,515-127-4562,PU_CLERK
25,116,Shelli,Baida,sbaida@abcfoodmart.com,515-127-4563,PU_CLERK
26,117,Sigal,Tobias,stobias@abcfoodmart.com,515-127-4564,PU_CLERK
27,118,Guy,Himuro,ghimuro@abcfoodmart.com,515-127-4565,PU_CLERK
28,119,Karen,Colmenares,kcolmena@abcfoodmart.com,515-127-4566,PU_CLERK
29,120,Matthew,Weiss,mweiss@abcfoodmart.com,650-123-1234,ST_MAN
30,121,Adam,Fripp,afripp@abcfoodmart.com,650-123-2234,ST_MAN
31,122,Payam,Kaufling,pkauflin@abcfoodmart.com,650-123-3234,ST_MAN
32,123,Shanta,Vollman,svollman@abcfoodmart.com,650-123-4234,ST_MAN
33,124,Kevin,Mourgos,kmourgos@abcfoodmart.com,650-123-5234,ST_MAN
34,125,Julia,Nayer,jnayer@abcfoodmart.com,650-124-1214,SH_CLERK
35,126,Irene,Mikkilineni,imikkili@abcfoodmart.com,650-124-1224,SH_CLERK
36,127,James,Landry,jlandry@abcfoodmart.com,650-124-1334,SH_CLERK
37,128,Steven,Markle,smarkle@abcfoodmart.com,650-124-1434,SH_CLERK
38,129,Laura,Bissot,lbissot@abcfoodmart.com,650-124-5234,SH_CLERK
39,130,Mozhe,Atkinson,matkinso@abcfoodmart.com,650-124-6234,SH_CLERK
40,131,James,Marlow,jamrlow@abcfoodmart.com,650-124-7234,SH_CLERK
41,132,TJ,Olson,tjolson@abcfoodmart.com,650-124-8234,SH_CLERK
42,133,Jason,Mallin,jmallin@abcfoodmart.com,650-127-1934,SH_CLERK
43,134,Michael,Rogers,mrogers@abcfoodmart.com,650-127-1834,SH_CLERK
44,135,Ki,Gee,kgee@abcfoodmart.com,650-127-1734,SH_CLERK
45,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK
46,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK
47,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK
48,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK
49,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK

In [13]:
#add in location_id
import numpy as np
rd_loc_ids = np.random.randint(1,6,size=50)
rli = pd.DataFrame({'location_id':rd_loc_ids})
rli

    location_id
0             3
1             5
2             2
3             2
4             2
5             3
6             3
7             3
8             1
9             4
10            3
11            1
12            4
13            2
14            3
15            5
16            2
17            4
18            3
19            2
20            1
21            2
22            4
23            4
24            1
25            5
26            2
27            5
28            3
29            5
30            2
31            3
32            1
33            4
34            3
35            1
36            2
37            5
38            5
39            1
40            4
41            5
42            1
43            4
44            2
45            5
46            5
47            2
48            3
49            1

In [14]:
#concatenate loc_ids and employees df
EMPL_FINAL = pd.concat([v2, rli], axis=1)
EMPL_FINAL

,employee_id,first_name,last_name,email,phone,position,location_id
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,3
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,5
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,2
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,2
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,2
5,203,Susan,Mavris,smavris@abcfoodmart.com,515-123-7777,HR_REP,3
6,204,Hermann,Baer,hbaer@abcfoodmart.com,515-123-8888,PR_REP,3
7,205,Shelley,Higgins,shiggins@abcfoodmart.com,515-123-8080,AC_MGR,3
8,206,William,Gietz,wgietz@abcfoodmart.com,515-123-8181,AC_ACCOUNT,1
9,100,Steven,King,sking@abcfoodmart.com,515-123-4567,AD_PRES,4
10,101,Neena,Kochhar,nkochhar@abcfoodmart.com,515-123-4568,AD_VP,3
11,102,Lex,De Haan,ldehaan@abcfoodmart.com,515-123-4569,AD_VP,1
12,103,Alexander,Hunold,ahunold@abcfoodmart.com,590-423-4567,IT_PROG,4
13,104,Bruce,Ernst,bernst@abcfoodmart.com,590-423-4568,IT_PROG,2
14,105,David,Austin,daustin@abcfoodmart.com,590-423-4569,IT_PROG,3
15,106,Valli,Pataballa,vpatabal@abcfoodmart.com,590-423-4560,IT_PROG,5
16,107,Diana,Lorentz,dlorentz@abcfoodmart.com,590-423-5567,IT_PROG,2
17,108,Nancy,Greenberg,ngreenbe@abcfoodmart.com,515-124-4569,FI_MGR,4
18,109,Daniel,Faviet,dfaviet@abcfoodmart.com,515-124-4169,FI_ACCOUNT,3
19,110,John,Chen,jchen@abcfoodmart.com,515-124-4269,FI_ACCOUNT,2
20,111,Ismael,Sciarra,isciarra@abcfoodmart.com,515-124-4369,FI_ACCOUNT,1
21,112,Jose Manuel,Urman,jmurman@abcfoodmart.com,515-124-4469,FI_ACCOUNT,2
22,113,Luis,Popp,lpopp@abcfoodmart.com,515-124-4567,FI_ACCOUNT,4
23,114,Den,Raphaely,drapheal@abcfoodmart.com,515-127-4561,PU_MAN,4
24,115,Alexander,Khoo,akhoo@abcfoodmart.com,515-127-4562,PU_CLERK,1
25,116,Shelli,Baida,sbaida@abcfoodmart.com,515-127-4563,PU_CLERK,5
26,117,Sigal,Tobias,stobias@abcfoodmart.com,515-127-4564,PU_CLERK,2
27,118,Guy,Himuro,ghimuro@abcfoodmart.com,515-127-4565,PU_CLERK,5
28,119,Karen,Colmenares,kcolmena@abcfoodmart.com,515-127-4566,PU_CLERK,3
29,120,Matthew,Weiss,mweiss@abcfoodmart.com,650-123-1234,ST_MAN,5
30,121,Adam,Fripp,afripp@abcfoodmart.com,650-123-2234,ST_MAN,2
31,122,Payam,Kaufling,pkauflin@abcfoodmart.com,650-123-3234,ST_MAN,3
32,123,Shanta,Vollman,svollman@abcfoodmart.com,650-123-4234,ST_MAN,1
33,124,Kevin,Mourgos,kmourgos@abcfoodmart.com,650-123-5234,ST_MAN,4
34,125,Julia,Nayer,jnayer@abcfoodmart.com,650-124-1214,SH_CLERK,3
35,126,Irene,Mikkilineni,imikkili@abcfoodmart.com,650-124-1224,SH_CLERK,1
36,127,James,Landry,jlandry@abcfoodmart.com,650-124-1334,SH_CLERK,2
37,128,Steven,Markle,smarkle@abcfoodmart.com,650-124-1434,SH_CLERK,5
38,129,Laura,Bissot,lbissot@abcfoodmart.com,650-124-5234,SH_CLERK,5
39,130,Mozhe,Atkinson,matkinso@abcfoodmart.com,650-124-6234,SH_CLERK,1
40,131,James,Marlow,jamrlow@abcfoodmart.com,650-124-7234,SH_CLERK,4
41,132,TJ,Olson,tjolson@abcfoodmart.com,650-124-8234,SH_CLERK,5
42,133,Jason,Mallin,jmallin@abcfoodmart.com,650-127-1934,SH_CLERK,1
43,134,Michael,Rogers,mrogers@abcfoodmart.com,650-127-1834,SH_CLERK,4
44,135,Ki,Gee,kgee@abcfoodmart.com,650-127-1734,SH_CLERK,2
45,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,5
46,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,5
47,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,2
48,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,3
49,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,1

In [16]:
#final csv for employees table
EMPL_FINAL.to_csv('EMPLOYEES.csv',index=False)

In [21]:
from datetime import datetime, timedelta
import random
import pandas as pd

# Function to generate random dates within a range
def generate_random_dates(start_date, end_date):
    start_datetime = datetime.strptime(start_date, '%Y-%m-%d')
    end_datetime = datetime.strptime(end_date, '%Y-%m-%d')

    # Calculate the range in days
    delta = (end_datetime - start_datetime).days

    # Generate random date within the range
    random_days = random.randint(0, delta)
    random_date = start_datetime + timedelta(days=random_days)

    return random_date.date()

# Define the range for job shifts
start_shift_date_range = '2023-01-01'  # Start date
end_shift_date_range = '2023-11-30'  # End date

# Generate and display random shift dates
#for _ in range(250):  # Generating 10 random shift dates
#    shift_date = generate_random_dates(start_shift_date, end_shift_date)
#    print(shift_date)
    
random_shift_date = [generate_random_dates(start_shift_date_range, end_shift_date_range) for x in range(250)]    
    
df_shift_date = pd.DataFrame({'Shift Dates': random_shift_date})   
df_shift_date

    Shift Dates
0    2023-06-17
1    2023-09-02
2    2023-02-19
3    2023-11-21
4    2023-03-31
..          ...
245  2023-05-22
246  2023-02-18
247  2023-04-03
248  2023-11-09
249  2023-08-12

[250 rows x 1 columns]

In [22]:
import pandas as pd
import random

# Function to generate random shift start times
def generate_shift_start_times(num_times):
    shift_start_times = []
    for _ in range(num_times):
        hour = random.randint(0, 23)  # Generate random hour (0-23)
        minute = random.randint(0, 59)  # Generate random minute (0-59)
        shift_start_times.append(f"{hour:02}:{minute:02}")

    return shift_start_times

# Number of shift start times to generate
num_shifts = 250

# Generate random shift start times
shift_start_times = generate_shift_start_times(num_shifts)

# Create a DataFrame to store shift start times
df_start_shifts = pd.DataFrame({'Shift Start Times': shift_start_times})

# Display the DataFrame
print(df_start_shifts)

    Shift Start Times
0               23:21
1               02:14
2               20:08
3               13:57
4               21:16
..                ...
245             17:09
246             00:04
247             13:41
248             05:24
249             11:43

[250 rows x 1 columns]

In [23]:
import pandas as pd
import random

# Function to generate random shift start times
def generate_shift_end_times(num_times):
    shift_end_times = []
    for _ in range(num_times):
        hour = random.randint(0, 23)  # Generate random hour (0-23)
        minute = random.randint(0, 59)  # Generate random minute (0-59)
        shift_end_times.append(f"{hour:02}:{minute:02}")

    return shift_end_times

# Number of shift end times to generate
num_shifts = 250

# Generate random shift end times
shift_end_times = generate_shift_end_times(num_shifts)

# Create a DataFrame to store shift end times
df_end_shifts = pd.DataFrame({'Shift end Times': shift_end_times})

# Display the DataFrame
print(df_end_shifts)

    Shift end Times
0             06:17
1             07:03
2             11:03
3             20:36
4             14:46
..              ...
245           11:09
246           10:55
247           22:23
248           16:31
249           00:39

[250 rows x 1 columns]

In [24]:
import csv
employees = pd.read_csv('/Users/hdvoor/desktop/employees.csv')

In [25]:
employees

,employee_id,first_name,last_name,email,phone,position,hourly_wage
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,$15.00
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,$15.00
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,$18.50
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,$25.00
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,$20.00
...,...,...,...,...,...,...,...
245,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,$15.00
246,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,$15.00
247,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,$15.00
248,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,$15.00
249,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,$15.00

In [27]:
combined_df_v1 = pd.concat([employees, df_shift_date], axis=1)
combined_df_v1 = combined_df_v1.rename(columns = {'Shift Dates': 'shift_date'})
combined_df_v1

,employee_id,first_name,last_name,email,phone,position,hourly_wage,shift_date
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,$15.00,2023-06-17
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,$15.00,2023-09-02
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,$18.50,2023-02-19
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,$25.00,2023-11-21
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,$20.00,2023-03-31
...,...,...,...,...,...,...,...,...
245,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,$15.00,2023-05-22
246,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,$15.00,2023-02-18
247,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,$15.00,2023-04-03
248,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,$15.00,2023-11-09
249,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,$15.00,2023-08-12

In [28]:
combined_df_v2 = pd.concat([combined_df_v1, df_start_shifts], axis=1)
combined_df_v2 = combined_df_v2.rename(columns = {'Shift Start Times': 'shift_start_time'})
combined_df_v2['shift_start_time'] = pd.to_datetime(combined_df_v2['shift_start_time'])
combined_df_v2['shift_end_time'] = combined_df_v2['shift_start_time'] + pd.to_timedelta('8 hours')

In [31]:
combined_df_v2['shift_start_time'] = combined_df_v2['shift_start_time'].dt.strftime('%H:%M:%S')

In [32]:
combined_df_v2['shift_end_time'] = combined_df_v2['shift_end_time'].dt.strftime('%H:%M:%S')

In [33]:
combined_df_v2

,employee_id,first_name,last_name,email,phone,position,hourly_wage,shift_date,shift_start_time,shift_end_time
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,$15.00,2023-06-17,23:21:00,07:21:00
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,$15.00,2023-09-02,02:14:00,10:14:00
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,$18.50,2023-02-19,20:08:00,04:08:00
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,$25.00,2023-11-21,13:57:00,21:57:00
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,$20.00,2023-03-31,21:16:00,05:16:00
...,...,...,...,...,...,...,...,...,...,...
245,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,$15.00,2023-05-22,17:09:00,01:09:00
246,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,$15.00,2023-02-18,00:04:00,08:04:00
247,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,$15.00,2023-04-03,13:41:00,21:41:00
248,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,$15.00,2023-11-09,05:24:00,13:24:00
249,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,$15.00,2023-08-12,11:43:00,19:43:00

In [34]:
combined_df_v3 = combined_df_v2[['employee_id', 'shift_date','shift_end_time','shift_start_time', 'hourly_wage']]
combined_df_v3

     employee_id  shift_date shift_end_time shift_start_time hourly_wage
0            198  2023-06-17       07:21:00         23:21:00      $15.00
1            199  2023-09-02       10:14:00         02:14:00      $15.00
2            200  2023-02-19       04:08:00         20:08:00      $18.50
3            201  2023-11-21       21:57:00         13:57:00      $25.00
4            202  2023-03-31       05:16:00         21:16:00      $20.00
..           ...         ...            ...              ...         ...
245          136  2023-05-22       01:09:00         17:09:00      $15.00
246          137  2023-02-18       08:04:00         00:04:00      $15.00
247          138  2023-04-03       21:41:00         13:41:00      $15.00
248          139  2023-11-09       13:24:00         05:24:00      $15.00
249          140  2023-08-12       19:43:00         11:43:00      $15.00

[250 rows x 5 columns]

In [ ]:
combined_df_v4 = pd.merge(combined_df_v3, rli[['location_id']], how='left', on='em')