In [22]:
from datetime import datetime, timedelta
import random
import pandas as pd

# Function to generate random dates within a range
def generate_random_dates(start_date, end_date):
    start_datetime = datetime.strptime(start_date, '%Y-%m-%d')
    end_datetime = datetime.strptime(end_date, '%Y-%m-%d')

    # Calculate the range in days
    delta = (end_datetime - start_datetime).days

    # Generate random date within the range
    random_days = random.randint(0, delta)
    random_date = start_datetime + timedelta(days=random_days)

    return random_date.date()

# Define the range for job shifts
start_shift_date_range = '2023-01-01'  # Start date
end_shift_date_range = '2023-11-30'  # End date

# Generate and display random shift dates
#for _ in range(250):  # Generating 10 random shift dates
#    shift_date = generate_random_dates(start_shift_date, end_shift_date)
#    print(shift_date)
    
random_shift_date = [generate_random_dates(start_shift_date_range, end_shift_date_range) for x in range(250)]    
    
df_shift_date = pd.DataFrame({'Shift Dates': random_shift_date})   
df_shift_date

    Shift Dates
0    2023-02-12
1    2023-10-17
2    2023-07-24
3    2023-11-22
4    2023-10-03
..          ...
245  2023-06-10
246  2023-09-23
247  2023-04-16
248  2023-01-16
249  2023-04-18

[250 rows x 1 columns]

In [47]:
import pandas as pd
import random

# Function to generate random shift start times
def generate_shift_start_times(num_times):
    shift_start_times = []
    for _ in range(num_times):
        hour = random.randint(0, 23)  # Generate random hour (0-23)
        minute = random.randint(0, 59)  # Generate random minute (0-59)
        shift_start_times.append(f"{hour:02}:{minute:02}")

    return shift_start_times

# Number of shift start times to generate
num_shifts = 250

# Generate random shift start times
shift_start_times = generate_shift_start_times(num_shifts)

# Create a DataFrame to store shift start times
df_start_shifts = pd.DataFrame({'Shift Start Times': shift_start_times})

# Display the DataFrame
print(df_start_shifts)

    Shift Start Times
0               12:28
1               19:51
2               00:27
3               17:59
4               03:41
..                ...
245             21:17
246             03:45
247             06:44
248             08:46
249             12:22

[250 rows x 1 columns]

In [38]:
import pandas as pd
import random

# Function to generate random shift start times
def generate_shift_end_times(num_times):
    shift_end_times = []
    for _ in range(num_times):
        hour = random.randint(0, 23)  # Generate random hour (0-23)
        minute = random.randint(0, 59)  # Generate random minute (0-59)
        shift_end_times.append(f"{hour:02}:{minute:02}")

    return shift_end_times

# Number of shift end times to generate
num_shifts = 250

# Generate random shift end times
shift_end_times = generate_shift_end_times(num_shifts)

# Create a DataFrame to store shift end times
df_end_shifts = pd.DataFrame({'Shift end Times': shift_end_times})

# Display the DataFrame
print(df_end_shifts)

    Shift end Times
0             18:24
1             07:19
2             01:58
3             17:53
4             05:23
..              ...
245           18:24
246           22:05
247           23:02
248           00:41
249           02:52

[250 rows x 1 columns]

In [39]:
import csv
employees = pd.read_csv('/Users/hdvoor/desktop/employees.csv')

In [40]:
employees

,employee_id,first_name,last_name,email,phone,position,hourly_wage
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,$15.00
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,$15.00
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,$18.50
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,$25.00
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,$20.00
...,...,...,...,...,...,...,...
245,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,$15.00
246,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,$15.00
247,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,$15.00
248,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,$15.00
249,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,$15.00

In [41]:
combined_df_1 = pd.concat([employees, df_shift_date], axis=1)
combined_df_1 = combined_df_1.rename(columns = {'Shift Dates': 'shift_date'})
combined_df_1

,employee_id,first_name,last_name,email,phone,position,hourly_wage,shift_date
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,$15.00,2023-02-12
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,$15.00,2023-10-17
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,$18.50,2023-07-24
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,$25.00,2023-11-22
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,$20.00,2023-10-03
...,...,...,...,...,...,...,...,...
245,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,$15.00,2023-06-10
246,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,$15.00,2023-09-23
247,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,$15.00,2023-04-16
248,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,$15.00,2023-01-16
249,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,$15.00,2023-04-18

In [66]:
combined_df_2 = pd.concat([combined_df_1, df_start_shifts], axis=1)
combined_df_2 = combined_df_2.rename(columns = {'Shift Start Times': 'shift_start_time'})
combined_df_2['shift_start_time'] = pd.to_datetime(combined_df_2['shift_start_time'])
combined_df_2['shift_end_time'] = combined_df_2['shift_start_time'] + pd.to_timedelta('8 hours')

,employee_id,first_name,last_name,email,phone,position,hourly_wage,shift_date,shift_start_time,shift_end_time
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,$15.00,2023-02-12,2023-12-01 12:28:00,2023-12-01 20:28:00
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,$15.00,2023-10-17,2023-12-01 19:51:00,2023-12-02 03:51:00
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,$18.50,2023-07-24,2023-12-01 00:27:00,2023-12-01 08:27:00
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,$25.00,2023-11-22,2023-12-01 17:59:00,2023-12-02 01:59:00
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,$20.00,2023-10-03,2023-12-01 03:41:00,2023-12-01 11:41:00
...,...,...,...,...,...,...,...,...,...,...
245,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,$15.00,2023-06-10,2023-12-01 21:17:00,2023-12-02 05:17:00
246,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,$15.00,2023-09-23,2023-12-01 03:45:00,2023-12-01 11:45:00
247,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,$15.00,2023-04-16,2023-12-01 06:44:00,2023-12-01 14:44:00
248,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,$15.00,2023-01-16,2023-12-01 08:46:00,2023-12-01 16:46:00
249,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,$15.00,2023-04-18,2023-12-01 12:22:00,2023-12-01 20:22:00

In [69]:
combined_df_2['shift_start_time'] = combined_df_2['shift_start_time'].dt.strftime('%H:%M:%S')

In [71]:
combined_df_2['shift_end_time'] = combined_df_2['shift_end_time'].dt.strftime('%H:%M:%S')

In [72]:
combined_df_2

,employee_id,first_name,last_name,email,phone,position,hourly_wage,shift_date,shift_start_time,shift_end_time
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,$15.00,2023-02-12,12:28:00,20:28:00
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,$15.00,2023-10-17,19:51:00,03:51:00
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,$18.50,2023-07-24,00:27:00,08:27:00
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,$25.00,2023-11-22,17:59:00,01:59:00
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,$20.00,2023-10-03,03:41:00,11:41:00
...,...,...,...,...,...,...,...,...,...,...
245,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,$15.00,2023-06-10,21:17:00,05:17:00
246,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,$15.00,2023-09-23,03:45:00,11:45:00
247,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,$15.00,2023-04-16,06:44:00,14:44:00
248,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,$15.00,2023-01-16,08:46:00,16:46:00
249,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,$15.00,2023-04-18,12:22:00,20:22:00

In [73]:
employees_df_final = combined_df_2
employees_df_final

,employee_id,first_name,last_name,email,phone,position,hourly_wage,shift_date,shift_start_time,shift_end_time
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,$15.00,2023-02-12,12:28:00,20:28:00
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,$15.00,2023-10-17,19:51:00,03:51:00
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,$18.50,2023-07-24,00:27:00,08:27:00
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,$25.00,2023-11-22,17:59:00,01:59:00
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,$20.00,2023-10-03,03:41:00,11:41:00
...,...,...,...,...,...,...,...,...,...,...
245,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,$15.00,2023-06-10,21:17:00,05:17:00
246,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,$15.00,2023-09-23,03:45:00,11:45:00
247,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,$15.00,2023-04-16,06:44:00,14:44:00
248,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,$15.00,2023-01-16,08:46:00,16:46:00
249,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,$15.00,2023-04-18,12:22:00,20:22:00

In [75]:
employees_df_final.to_csv('employees_df_final.csv', index=False)

In [87]:
employees_df_final

,employee_id,first_name,last_name,email,phone,position,hourly_wage,shift_date,shift_start_time,shift_end_time
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,$15.00,2023-02-12,12:28:00,20:28:00
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,$15.00,2023-10-17,19:51:00,03:51:00
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,$18.50,2023-07-24,00:27:00,08:27:00
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,$25.00,2023-11-22,17:59:00,01:59:00
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,$20.00,2023-10-03,03:41:00,11:41:00
...,...,...,...,...,...,...,...,...,...,...
245,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,$15.00,2023-06-10,21:17:00,05:17:00
246,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,$15.00,2023-09-23,03:45:00,11:45:00
247,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,$15.00,2023-04-16,06:44:00,14:44:00
248,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,$15.00,2023-01-16,08:46:00,16:46:00
249,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,$15.00,2023-04-18,12:22:00,20:22:00

In [85]:
employee_info = employees_df_final[['employee_id','first_name','last_name','email','phone','position']].drop_duplicates()
#employee_info[['employee_id']].drop_duplicates()
employee_info

,employee_id,first_name,last_name,email,phone,position
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP
5,203,Susan,Mavris,smavris@abcfoodmart.com,515-123-7777,HR_REP
6,204,Hermann,Baer,hbaer@abcfoodmart.com,515-123-8888,PR_REP
7,205,Shelley,Higgins,shiggins@abcfoodmart.com,515-123-8080,AC_MGR
8,206,William,Gietz,wgietz@abcfoodmart.com,515-123-8181,AC_ACCOUNT
9,100,Steven,King,sking@abcfoodmart.com,515-123-4567,AD_PRES
10,101,Neena,Kochhar,nkochhar@abcfoodmart.com,515-123-4568,AD_VP
11,102,Lex,De Haan,ldehaan@abcfoodmart.com,515-123-4569,AD_VP
12,103,Alexander,Hunold,ahunold@abcfoodmart.com,590-423-4567,IT_PROG
13,104,Bruce,Ernst,bernst@abcfoodmart.com,590-423-4568,IT_PROG
14,105,David,Austin,daustin@abcfoodmart.com,590-423-4569,IT_PROG
15,106,Valli,Pataballa,vpatabal@abcfoodmart.com,590-423-4560,IT_PROG
16,107,Diana,Lorentz,dlorentz@abcfoodmart.com,590-423-5567,IT_PROG
17,108,Nancy,Greenberg,ngreenbe@abcfoodmart.com,515-124-4569,FI_MGR
18,109,Daniel,Faviet,dfaviet@abcfoodmart.com,515-124-4169,FI_ACCOUNT
19,110,John,Chen,jchen@abcfoodmart.com,515-124-4269,FI_ACCOUNT
20,111,Ismael,Sciarra,isciarra@abcfoodmart.com,515-124-4369,FI_ACCOUNT
21,112,Jose Manuel,Urman,jmurman@abcfoodmart.com,515-124-4469,FI_ACCOUNT
22,113,Luis,Popp,lpopp@abcfoodmart.com,515-124-4567,FI_ACCOUNT
23,114,Den,Raphaely,drapheal@abcfoodmart.com,515-127-4561,PU_MAN
24,115,Alexander,Khoo,akhoo@abcfoodmart.com,515-127-4562,PU_CLERK
25,116,Shelli,Baida,sbaida@abcfoodmart.com,515-127-4563,PU_CLERK
26,117,Sigal,Tobias,stobias@abcfoodmart.com,515-127-4564,PU_CLERK
27,118,Guy,Himuro,ghimuro@abcfoodmart.com,515-127-4565,PU_CLERK
28,119,Karen,Colmenares,kcolmena@abcfoodmart.com,515-127-4566,PU_CLERK
29,120,Matthew,Weiss,mweiss@abcfoodmart.com,650-123-1234,ST_MAN
30,121,Adam,Fripp,afripp@abcfoodmart.com,650-123-2234,ST_MAN
31,122,Payam,Kaufling,pkauflin@abcfoodmart.com,650-123-3234,ST_MAN
32,123,Shanta,Vollman,svollman@abcfoodmart.com,650-123-4234,ST_MAN
33,124,Kevin,Mourgos,kmourgos@abcfoodmart.com,650-123-5234,ST_MAN
34,125,Julia,Nayer,jnayer@abcfoodmart.com,650-124-1214,SH_CLERK
35,126,Irene,Mikkilineni,imikkili@abcfoodmart.com,650-124-1224,SH_CLERK
36,127,James,Landry,jlandry@abcfoodmart.com,650-124-1334,SH_CLERK
37,128,Steven,Markle,smarkle@abcfoodmart.com,650-124-1434,SH_CLERK
38,129,Laura,Bissot,lbissot@abcfoodmart.com,650-124-5234,SH_CLERK
39,130,Mozhe,Atkinson,matkinso@abcfoodmart.com,650-124-6234,SH_CLERK
40,131,James,Marlow,jamrlow@abcfoodmart.com,650-124-7234,SH_CLERK
41,132,TJ,Olson,tjolson@abcfoodmart.com,650-124-8234,SH_CLERK
42,133,Jason,Mallin,jmallin@abcfoodmart.com,650-127-1934,SH_CLERK
43,134,Michael,Rogers,mrogers@abcfoodmart.com,650-127-1834,SH_CLERK
44,135,Ki,Gee,kgee@abcfoodmart.com,650-127-1734,SH_CLERK
45,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK
46,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK
47,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK
48,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK
49,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK

In [91]:
import numpy as np
#need to add in location_id
random_location_ids = np.random.randint(1,6,size=50)
rliddf = pd.DataFrame({'location_id':random_location_ids})
rliddf

    location_id
0             5
1             3
2             4
3             3
4             3
5             3
6             1
7             1
8             1
9             1
10            5
11            2
12            4
13            2
14            3
15            5
16            5
17            2
18            2
19            3
20            1
21            3
22            4
23            4
24            1
25            1
26            1
27            1
28            4
29            5
30            4
31            5
32            2
33            2
34            3
35            2
36            5
37            1
38            2
39            4
40            5
41            5
42            3
43            1
44            1
45            5
46            3
47            3
48            4
49            2

In [92]:
empl_final = pd.concat([employee_info,rliddf], axis=1)
empl_final

,employee_id,first_name,last_name,email,phone,position,location_id
0,198,Donald,OConnell,doconnel@abcfoodmart.com,650-507-9833,SH_CLERK,5
1,199,Douglas,Grant,dgrant@abcfoodmart.com,650-507-9844,SH_CLERK,3
2,200,Jennifer,Whalen,jwhalen@abcfoodmart.com,515-123-4444,AD_ASST,4
3,201,Michael,Hartstein,mhartste@abcfoodmart.com,515-123-5555,MK_MAN,3
4,202,Pat,Fay,pfay@abcfoodmart.com,603-123-6666,MK_REP,3
5,203,Susan,Mavris,smavris@abcfoodmart.com,515-123-7777,HR_REP,3
6,204,Hermann,Baer,hbaer@abcfoodmart.com,515-123-8888,PR_REP,1
7,205,Shelley,Higgins,shiggins@abcfoodmart.com,515-123-8080,AC_MGR,1
8,206,William,Gietz,wgietz@abcfoodmart.com,515-123-8181,AC_ACCOUNT,1
9,100,Steven,King,sking@abcfoodmart.com,515-123-4567,AD_PRES,1
10,101,Neena,Kochhar,nkochhar@abcfoodmart.com,515-123-4568,AD_VP,5
11,102,Lex,De Haan,ldehaan@abcfoodmart.com,515-123-4569,AD_VP,2
12,103,Alexander,Hunold,ahunold@abcfoodmart.com,590-423-4567,IT_PROG,4
13,104,Bruce,Ernst,bernst@abcfoodmart.com,590-423-4568,IT_PROG,2
14,105,David,Austin,daustin@abcfoodmart.com,590-423-4569,IT_PROG,3
15,106,Valli,Pataballa,vpatabal@abcfoodmart.com,590-423-4560,IT_PROG,5
16,107,Diana,Lorentz,dlorentz@abcfoodmart.com,590-423-5567,IT_PROG,5
17,108,Nancy,Greenberg,ngreenbe@abcfoodmart.com,515-124-4569,FI_MGR,2
18,109,Daniel,Faviet,dfaviet@abcfoodmart.com,515-124-4169,FI_ACCOUNT,2
19,110,John,Chen,jchen@abcfoodmart.com,515-124-4269,FI_ACCOUNT,3
20,111,Ismael,Sciarra,isciarra@abcfoodmart.com,515-124-4369,FI_ACCOUNT,1
21,112,Jose Manuel,Urman,jmurman@abcfoodmart.com,515-124-4469,FI_ACCOUNT,3
22,113,Luis,Popp,lpopp@abcfoodmart.com,515-124-4567,FI_ACCOUNT,4
23,114,Den,Raphaely,drapheal@abcfoodmart.com,515-127-4561,PU_MAN,4
24,115,Alexander,Khoo,akhoo@abcfoodmart.com,515-127-4562,PU_CLERK,1
25,116,Shelli,Baida,sbaida@abcfoodmart.com,515-127-4563,PU_CLERK,1
26,117,Sigal,Tobias,stobias@abcfoodmart.com,515-127-4564,PU_CLERK,1
27,118,Guy,Himuro,ghimuro@abcfoodmart.com,515-127-4565,PU_CLERK,1
28,119,Karen,Colmenares,kcolmena@abcfoodmart.com,515-127-4566,PU_CLERK,4
29,120,Matthew,Weiss,mweiss@abcfoodmart.com,650-123-1234,ST_MAN,5
30,121,Adam,Fripp,afripp@abcfoodmart.com,650-123-2234,ST_MAN,4
31,122,Payam,Kaufling,pkauflin@abcfoodmart.com,650-123-3234,ST_MAN,5
32,123,Shanta,Vollman,svollman@abcfoodmart.com,650-123-4234,ST_MAN,2
33,124,Kevin,Mourgos,kmourgos@abcfoodmart.com,650-123-5234,ST_MAN,2
34,125,Julia,Nayer,jnayer@abcfoodmart.com,650-124-1214,SH_CLERK,3
35,126,Irene,Mikkilineni,imikkili@abcfoodmart.com,650-124-1224,SH_CLERK,2
36,127,James,Landry,jlandry@abcfoodmart.com,650-124-1334,SH_CLERK,5
37,128,Steven,Markle,smarkle@abcfoodmart.com,650-124-1434,SH_CLERK,1
38,129,Laura,Bissot,lbissot@abcfoodmart.com,650-124-5234,SH_CLERK,2
39,130,Mozhe,Atkinson,matkinso@abcfoodmart.com,650-124-6234,SH_CLERK,4
40,131,James,Marlow,jamrlow@abcfoodmart.com,650-124-7234,SH_CLERK,5
41,132,TJ,Olson,tjolson@abcfoodmart.com,650-124-8234,SH_CLERK,5
42,133,Jason,Mallin,jmallin@abcfoodmart.com,650-127-1934,SH_CLERK,3
43,134,Michael,Rogers,mrogers@abcfoodmart.com,650-127-1834,SH_CLERK,1
44,135,Ki,Gee,kgee@abcfoodmart.com,650-127-1734,SH_CLERK,1
45,136,Hazel,Philtanker,hphiltan@abcfoodmart.com,650-127-1634,SH_CLERK,5
46,137,Renske,Ladwig,rladwig@abcfoodmart.com,650-121-1234,SH_CLERK,3
47,138,Stephen,Stiles,sstiles@abcfoodmart.com,650-121-2034,SH_CLERK,3
48,139,John,Seo,jseo@abcfoodmart.com,650-121-2019,SH_CLERK,4
49,140,Joshua,Patel,jpatel@abcfoodmart.com,650-121-1834,SH_CLERK,2

In [89]:
employee_shifts = employees_df_final[['employee_id', 'shift_date', 'shift_start_time', 'shift_end_time', 'hourly_wage']]
employee_shifts.insert(0,'employee_shift_id', range(1,1+len(employee_shifts)))
employee_shifts

,employee_shift_id,employee_id,shift_date,shift_start_time,shift_end_time,hourly_wage
0,1,198,2023-02-12,12:28:00,20:28:00,$15.00
1,2,199,2023-10-17,19:51:00,03:51:00,$15.00
2,3,200,2023-07-24,00:27:00,08:27:00,$18.50
3,4,201,2023-11-22,17:59:00,01:59:00,$25.00
4,5,202,2023-10-03,03:41:00,11:41:00,$20.00
...,...,...,...,...,...,...
245,246,136,2023-06-10,21:17:00,05:17:00,$15.00
246,247,137,2023-09-23,03:45:00,11:45:00,$15.00
247,248,138,2023-04-16,06:44:00,14:44:00,$15.00
248,249,139,2023-01-16,08:46:00,16:46:00,$15.00
249,250,140,2023-04-18,12:22:00,20:22:00,$15.00

In [94]:
#adding location_id to employee_shifts
empl_shifts_final = pd.merge(employee_shifts, empl_final[['employee_id','location_id']], how='left',on='employee_id')
empl_shifts_final

,employee_shift_id,employee_id,shift_date,shift_start_time,shift_end_time,hourly_wage,location_id
0,1,198,2023-02-12,12:28:00,20:28:00,$15.00,5
1,2,199,2023-10-17,19:51:00,03:51:00,$15.00,3
2,3,200,2023-07-24,00:27:00,08:27:00,$18.50,4
3,4,201,2023-11-22,17:59:00,01:59:00,$25.00,3
4,5,202,2023-10-03,03:41:00,11:41:00,$20.00,3
...,...,...,...,...,...,...,...
245,246,136,2023-06-10,21:17:00,05:17:00,$15.00,5
246,247,137,2023-09-23,03:45:00,11:45:00,$15.00,3
247,248,138,2023-04-16,06:44:00,14:44:00,$15.00,3
248,249,139,2023-01-16,08:46:00,16:46:00,$15.00,4
249,250,140,2023-04-18,12:22:00,20:22:00,$15.00,2